/* navbar */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, tahoma;
    list-style: none;
}

body
{
    height: 100%;
    /* background: rgb(201,182,217);
    background: linear-gradient(90deg, rgba(201,182,217,1) 0%, rgba(240,220,244,1) 97%); */
    background: #FBFFDC;
}

a {
    text-decoration: none;
    color: black
}

.nav-navPrincipal {
    position: sticky;
    top: 0;
    z-index: 50;
    padding-top: 8px;
    background: #98EECC;
    border-bottom: 1px solid #555;
    /* --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */
}

.div-navPrincipal {
    display: grid;
}

.icon {
    display: none;
}

.toggle {
    float: right;
    margin: 20px;
    color: black;
    font-size: 30px;
    border: 1px solid black;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 16px;
}

.ul-navbar {
    padding-left: 0px;
    grid-column: 2 / 20;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 16px;
}

.ul-navbar {
    list-style: none;
}

.li-navItem {
    transition: all 0.7s;
}

.a-navLink {
    display: block;
    padding: 0.5rem 1rem;
}

.img-logoNavBar {
    height: 80px;
    margin-left: 16px;
    margin-bottom: 8px;
    grid-column: 1;
    grid-row: 1;
}

@media (max-width: 1309px) {
    .icon {
      display: block;
      width: 100%;
      height: 80px;
      /* background-color: #111; */
      grid-column: 10 / 20;
      grid-row: 1;
    }

    .ul-navbar {
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      top: -4px;
      grid-column: 1 / 20;
      grid-row: 2;
      /* background-color: #222; */
      text-align: center;
      display: block;
      float: none;
      display: none;
    }

    .li-navItem {
        transition: all 0.7s;
        border-top: #555;
        border-bottom: #555;
    }

}

/* Accueil */

.div-Principal-Accueil {
    display: flex;
    flex-direction: column;
}

.div-TextIntro {
    padding: 5px;
}

.TextIntro {
    text-align: center;
}

.div-derniereAnnonce {
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}

.div-AnnonceAccueil {
    padding: 5px;
    margin: 10px;
    border: solid 1px;  
    border-color: black;
    display: flex;
    justify-content: center;
    width: 40%;
    background: #D0F5BE;
}

.div-AnnonceAccueil-image {
    display: flex;
    padding: 2px;
}

.div-AnnonceAccueil-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
}

.AnnonceAccueil-image {
    height: 90px;
}

/* InfoCompte */

.p-Bienvenue {
    font-size: 1.8em;
    text-align: center;
}

.p-InfoCompte {
    font-size: 1.2em;
    text-align: center;
}

.div-ListeInfo {
    display: flex;
    flex-direction: column;
}

.div-nom, .div-prenom, .div-email, .div-adressePostal, .div-complementAdresse, .div-Ntel {
    display: flex;
    padding: 10px;
}

.div_buttonInfoCompte {
    display: flex;
    padding: 10px;
}

/* ListeAnnonce */

.div-navbarAnnonce {
    display: flex;
    flex-direction: column; 
}

.div-RechercheAnnonce {
    display: flex;
    flex-direction: row;
}

.div-RechercheAnnonce {
    padding: 5px;
    padding-bottom: 15px;   
}

.div-Creation {
    margin-top: 10px;
    text-align: center;
}

.div-ou {
    text-align: center;
}

.AnnonceBoutton {
    border: none;
    width: 90%;
}

.Annonce {
    border: solid 1px;  
    border-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.Annonce-image {
    width: 100px;
}

.div-Annonce-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
}
.div-ListeAnnonce {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
/* Création Annonce */

.div-Principal-NouvelleAnnonce {
    display: flex;
    flex-direction: column;
}

.p-Titre {
    font-size: 1.8em;
    text-align: center;
}

.div-libelleAnnonce, .div-descriptionAnnonce, .div-prix, .div-PossibleNego, .div-ID_Categorie {
    display: flex;
    padding: 10px;
}

.div_buttonNouvelleAnnonce {
    display: flex;
    align-items: baseline;
}

#descriptionAnnonce {
    width: 50%;
    height: 70px;
}

#PossibleNego {
    width: 20%;
    
}

/* Annonce */

.Annonce-image {
    height: 90px;
}